<style>
    body{
        background-color: hsl(217, 54%, 11%);
    }
    
</style>

<div>
    <h1>Chat</h1>

    <input type="text" id="chat" name="chat" placeholder="Ingresar mensaje" style="width: 300px;">
    <br />
    <button id="buttonChat">Enviar</button>
</div>

<div>
    <p id="chatList"></p>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

<script type="module">

    const serverAddress = 'ws://localhost:8080';
    const socketClient = io(serverAddress);
    const chat = document.getElementById('chat');
    const chatList = document.getElementById('chatList');
    const buttonChat = document.getElementById('buttonChat');

socketClient.on('newClientConnected', data => {
console.log(data);
});

    socketClient.on('chatLog', data => {
        for (let i = 0; i < data.length; i++) {
            chatList.innerHTML += `<br />[${data[i].user}]: ${data[i].message}`;
        }
    });

    socketClient.on('messageArrived', data => {
        chatList.innerHTML += `<br />[${data.user}]: ${data}`;
    });

    const sendMessage = () => {
        if (chat.value !== '') {
            socketClient.emit('newMessage', chat.value);
            console.log('Mensaje enviado');
            chat.value = '';
        }
    }

    buttonChat.addEventListener('click', (evt) => {
        sendMessage();
    });
</script>
